.preloader {
    align-items: center;
    background: #ffffff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 99999!important;
    opacity: 1;
    transform: opacity 1s linear;
  }

input[type='text'].lov{
  background-color: yellow;
}
input[type='text'].primary-key {
  background-color: aqua;
}