{%set sidebar = session.get('list_menu',[])%}
{%set activeMenu = activeMenu%}
<ul class="navbar-nav">
    {%for sb in sidebar%}
        <li class="nav-item">
            {%set active = ''%}
            {%if activeMenu == sb.get('id','')%}
                {%set active = 'active'%}
            {%endif%}
            <a class="nav-link {{active}}" href="{{sb.get('href','#')}}">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">{{sb.get('value','No Defined')}}</span>
            </a>
        </li>
    {%endfor%}
</ul>